@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter&family=Nunito&family=Readex+Pro:wght@600&family=Roboto+Mono:wght@100&family=Roboto:ital@1&family=Source+Sans+Pro:ital@0;1&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    background-image: url(./background.png);
    background-size: cover;
    background-position: center;
    color: "black";
}